{% extends "base.html" %}

{% block content %}
    <h1> Login </h1>
    {% if error %}
        <p style = "color: red;">{{error}}</p>
    {% endif %}
    <form action="/login" method="POST">
        <label>Username</label>
        <input type="text" name="username" required><br>
        <label>Password</label><br>
        <input type="password" name="password" required><br>
        <button type="submit">Log in </button>
    </form>

    <p>New here? <a href="/signup">Create an account</a></p>
{% endblock %}
